
.container {

  .label {
    height: 20px;
    font-size: 15px;
    font-weight: 700;
    color: #333e48;
    text-transform: capitalize;
  }
  
  .smallLabel {
    font-size: 14px;
    line-height: 143%;
  }

  .inputWrapper {
    display:  flex;
    gap: 1rem;
    align-items: center;

    .input {
      height: 50px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      border: 1px solid #CFCFCF;
      border-radius: .25rem;
      padding: .8125rem 0 .8125rem .9375rem;
      caret-color: #007298;
      
    }
    
    .textArea {
      padding: .9375rem 0 0 .9375rem; 
      resize: none;
      min-height: 9.5rem;
    }

    .borderError {
      border-color: red;
    }
  }
  
  .errorMessage {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #f00;
    display: flex;
    flex-direction: column;
    margin-bottom : -20px;
 
  }

  .borderError {
    border-color: red;
  }
  
  
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
}






