
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


body {
  /* margin: 0 auto; */
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333E48;
  background-color: #F8F8F8;
}

article {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}





